body{
    font-family: 'Finlandica', sans-serif;
    margin: 0;
}
.color-1{
    color: #FBB454;
}
.color-2{
    color: #18978F;
}
.color-tom{
    color: tomato;
}
.color-4{
    color: #E8A0BF;
}
.color-5{
    color: #3d3e3b;
}
.font-size{
    font-size: 35px;
}
.img-width{
    width: 90%;
}
.male{
    display: flex;
    background-image: url(./images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.male .img-male{
    height: 100%;
}
.male-txt{
    padding: 35px 70px;
}

.link-button{
    text-decoration: none;
    color: #1B2430;
    font-weight: bolder;
    padding: 10px 40px;
    background-image: linear-gradient(#FFFFDE,#F4E06D);
    border-radius: 20px;
}
.text-center{
    text-align: center;
}
.female{
    display: flex;
    background-image: url(./images/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.female .img-female{
    height: 100%;
}
.female .female-txt{
    padding: 35px 70px;
    margin-top: 70px;
}

.recipe-items{
    display: flex;
    justify-content: space-evenly;
}
.recipe .txt{
    margin: 30px auto;
    width: 50%;
}
.item-img{
    width: 320px;
    height: 260px;
    border-radius: 20px;
}
.item-1{
    width: 33%;
    /* margin-left: 30px;
    margin-right: 30px; */
}
.item-2{
    width: 33%;
    /* margin-right: 30px;
    margin-right: 30px; */
}
.item-card{
    padding: 20px 20px;
    box-shadow: 10px 10px 20px gray;
    border-top: 6px solid #1F4690;
    border-left: 6px solid #1363DF;
    border-radius: 30px;
}